<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-primary">
        <h3>Hey! <%=name%></h3>
    </header>
    <main class="container">
       <section>
           <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Aut placeat omnis eaque commodi sint, voluptate repudiandae est eius veritatis <br> ipsa esse officiis nulla cumque illo et! Totam, laudantium. Beatae, quam.</p>
       </section>
       <section>
            <img src="/public/lotties/Animation - 1726298089248.gif" alt="">
       </section>
    </main>
    <footer class="bg-primary">
     <small>
        <%=email%>, <%=address%>
     </small>
    </footer>
</body>
</html>